*,
::before,
::after {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-class {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
}

#equals,
#clear {
  grid-column: span 2;
}
.output {
  grid-column: span 4;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 5px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  border-bottom: 1px solid white;
}

.previous {
  font-size: 2rem;
  margin: 5px 0px;
}

.current {
  font-size: 1.4rem;
  margin: 5px 0px;
}

button {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  outline: none;
  border: 1px solid white;
}

button:hover {
  background-color: white;
}
